.chart_panel {
    margin:15px 10px 10px 10px;
    max-height: none;
}

.chart_table{
    margin:15px 10px 10px 10px;
	display: block;
}

#chart_table .td{
	min-width: 15px;
}

.my_table{
    margin:0;
}
